@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: hsl(209, 17%, 24%);
		--color-secondary: hsl(43, 100%, 55%);
		--carousel-btn: hsl(0, 0%, 80%, 0.4);
	}

	/* -----------------
	/* General CSS Reset */
	/*-------------------*/
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	/* -------------------------- */
	/* Making basic style resets */
	/* ------------------------- */
	html {
		font-size: 62.5%;
		scroll-behavior: smooth;
	}

	input:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	img {
		width: 100%;
		max-width: unset;
	}

	button {
		outline: transparent;
	}

	body {
		font-size: 1.6rem;
		font-family: 'Rubik', 'Trebuchet MS', sans-serif;
	}
}
