@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Rubik'), url(https://fonts.gstatic.com/s/rubik/v23/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Rubik'), url(https://fonts.gstatic.com/s/rubik/v23/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Roboto Slab'),
		url(https://fonts.gstatic.com/s/robotoslab/v24/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format('woff2');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Roboto Slab'),
		url(https://fonts.gstatic.com/s/robotoslab/v24/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format('woff2');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: local('Roboto Slab'),
		url(https://fonts.gstatic.com/s/robotoslab/v24/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format('woff2');
}

@layer base {
	:root {
		--color-primary: hsl(209, 17%, 24%);
		--color-secondary: hsl(43, 100%, 55%);
	}

	/* -----------------
	/* General CSS Reset */
	/*-------------------*/
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	/* -------------------------- */
	/* Making basic style resets */
	/* ------------------------- */
	html {
		font-size: 62.5%;
		scroll-behavior: smooth;
	}

	input:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	img {
		width: 100%;
		max-width: unset;
	}

	button {
		outline: transparent;
	}

	body {
		font-size: 1.6rem;
		font-family: 'Rubik', sans-serif;
	}
}
